<div class="mix col-lg-3 col-md-6 best">
    <div class="product-item">
        <figure>
            <img src=<%=image%> alt="">
            <div class="pi-meta">
                <div class="pi-m-left">
                    <img src="img/icons/eye.png" alt="">
                    <p>Vista rápida</p>
                </div>
                <div class="pi-m-right">
                    <img src="img/icons/heart.png" alt="">
                    <p>Comprar</p>
                </div>
            </div>
        </figure>
        <div class="product-info">
            <h6><%=name%></h6>
            <p>$<%=price%></p>
            <a href="#" class="site-btn btn-line">Añadir al carrito</a>
        </div>
    </div>
</div>

<!-- Slide Products -->
<div class="swiper-slide">
    <div class="card">
        <img class="card-image" src=<%=imagen%> alt="alternative">
        <div class="card-body">
            <div class="testimonial-text">The guys from Aria helped with getting my business off the ground and turning into a profitable company.</div>
            <div class="testimonial-author">Jude Thorn - Founder</div>
            <hr>
            <a class="btn-solid-reg page-scroll" href="#callMe">Agregar al carrito</a>
        </div>
    </div>
</div> <!-- end of swiper-slide -->
<!-- end of slide -->