    <!-- Copyright -->
    <div class="copyright">
        <div class="container pt-2 pb-3">
            <div class="row text-left">
                <div class="col-3">
                    <p> <strong> Nuestra Historia </strong></p>
                    <p class="p-small"><a href="/nosotros">Sobre PROLACCIO</a></p>
                </div>
                <div class="col-3">
                    <p> <strong> Deber Social </strong></p>
                    <p class="p-small"><a href="#"> Easybrick </a></p>
                </div>
                <div class="col-3">
                    <p> <strong> Únete al equipo </strong></p>
                    <p class="p-small"><a href="#">Recompensas Económicas</a></p>
                </div>
                <div class="col-3">
                    <p> <strong> Servicio al Cliente </strong></p>
                    <p class="p-small"><a href="#">Ayuda </a></p>
                    <p class="p-small"><a href="#">Productos Agotados </a></p>
                    <p class="p-small"><a href="#">Devolver el Pedido </a></p>
                    <p class="p-small"><a href="#">Cuidado y Mantenimiento del Dispositivo </a></p>
                </div>

                <div class="col-12">
                    <h3>Conéctese con PROLACCIO.</h3>
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/PROLACCIOOFICIAL">
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/prolaccio">
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#">
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#">
                                <i class="fab fa-pinterest fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#">
                                <i class="fab fa-linkedin fa-stack-1x"></i>
                            </a>
                        </span>
                        <!-- Pinterest / Linkedin / Youtube -->
                </div>
                <!-- <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="prolacciocosmetics.com">PROLACCIO Cosmetics</a></p>
                    <p class="p-small"><a href="/terminos-y-condiciones">Terminos y Condiciones</a></p>
                    <p class="p-small"><a href="/politicas-de-privacidad">Políticas de Privacidad</a></p>
                </div> -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->