    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="prolacciocosmetics.com">PROLACCIO Cosmetics</a></p>
                    <p class="p-small"><a href="/terminos-y-condiciones">Terminos y Condiciones</a></p>
                    <p class="p-small"><a href="/politicas-de-privacidad">Políticas de Privacidad</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->