<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROLACCIO</title>
</head>
<body>

<script
src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
data-preference-id='<%= global.id %>'>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script type="text/javascript">
           $(document).ready(function(e) { 
           // Cuando le dás click muestra #content
           $('.mercadopago-button').click(function(){

           });
            
           // Simular click
           $('.mercadopago-button').click();
           });
           
</script>
</body>
</html>
<style>
    .mercadopago-button {
        display: none;
    }
    body {
        background: rgba(0,0,0,1);
background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(36,15,46,1) 21%, rgba(5,38,77,1) 59%, rgba(61,31,61,1) 83%, rgba(103,9,122,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(21%, rgba(36,15,46,1)), color-stop(59%, rgba(5,38,77,1)), color-stop(83%, rgba(61,31,61,1)), color-stop(100%, rgba(103,9,122,1)));
background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(36,15,46,1) 21%, rgba(5,38,77,1) 59%, rgba(61,31,61,1) 83%, rgba(103,9,122,1) 100%);
background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(36,15,46,1) 21%, rgba(5,38,77,1) 59%, rgba(61,31,61,1) 83%, rgba(103,9,122,1) 100%);
background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(36,15,46,1) 21%, rgba(5,38,77,1) 59%, rgba(61,31,61,1) 83%, rgba(103,9,122,1) 100%);
background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(36,15,46,1) 21%, rgba(5,38,77,1) 59%, rgba(61,31,61,1) 83%, rgba(103,9,122,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#67097a', GradientType=1 );
    }
</style>